/*reset*/
.app {
  /*reset*/
}
.app html,
.app body {
  font-family: Roboto;
  font-size: 16px;
}
.app a {
  text-decoration: none;
  color: inherit;
}
.app .site-content {
  padding-top: 100px;
}
.app .container {
  margin: 0 20px;
}
.app .header {
  position: fixed;
  height: 66px;
  line-height: 66px;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #dc1212;
}
.app .header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}
.app .menu {
  float: left;
}
.app .menu a {
  padding: 0 10px;
}
.app .menu a:hover {
  color: #CFF;
}

@media only screen and (max-width: 761px) {
  .app body {
    background-color: green;
  }
}
